<h1>A list of People</h1>
<p>Below is a list of people</p>

<button type="button" class="btn btn-primary btn-margin"><%= link_to 'Add a Person', new_human_path %></button>


<table>
<tr>
  <th>Name</th>
  <th>Age</th>
  <th>Hair Color</th>
  <th>Eye Color</th>
  <th>Gender</th>
  <th>Alive?</th>
  
  
</tr>  
  <% @humans.each do |person|%>
    <tr>
      <td><%= person.name %></td>
      <td><%=  person.age %></td>
      <td><%=  person.hair_color %></td>
      <td><%=  person.eye_color %></td>
      <td><%=  person.gender %></td>
      <td><%=  person.alive %></td>
      <td><button type="button" class="btn btn-primary"><a><%= link_to 'Go to Person', person %></a></td></button>
    </tr>
    
  <% end %>

  </table>

  <%   %>
